@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* background: #151515; */
}
/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.ag-header-cell-resize::after {
  display: none;
}
/* Custom scrollbar styles */
.ag-theme-quartz .ag-body-horizontal-scroll-viewport::-webkit-scrollbar,
.ag-theme-quartz .ag-body-vertical-scroll-viewport::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.ag-theme-quartz .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track,
.ag-theme-quartz .ag-body-vertical-scroll-viewport::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ag-theme-quartz .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb,
.ag-theme-quartz .ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.ag-theme-quartz .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:hover,
.ag-theme-quartz .ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ag-watermark {
  display: none !important;
}

